*{
    background-color: rgb(5, 4, 2);
}
.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
    width: 100%;
    height: 400px;
  }
  
  .caixas {
    background-color: #ccc;
    color: azure;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
  }